<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Moodeo</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/media.css">
    <style>
      .OT_mirrored, .OT_root, .OT_publisher{
        left: 1000px;
        bottom:1000px;
        z-index: 999;
      }
      .main-middle-shit {
        padding-left: 100px;
        padding-top: 70px;
      }

    </style>
  </head>
  <body>
    <div id="header">
      <div class="grid-container">
       <!--  <img class="logo" src="img/logo@2x.png" alt width="60" height="75"> -->
        <div id="menuLoggedIn">
          <li>
            <p>Video Invites: <a href="/listvideoinvites"><%= @video_invites_count %></a></p>
          </li>
          <li>
            <p>Invites: <a href="/listinvites"><%= @invites_count %></a></p>
          </li>
          <li>
            <p>Welcome, <%= @username %></p>
          </li>
            <a href="/signout"><button class="btn menu-btn" type="button" data-popup="getstarted">Sign Out</button></a>
        </div>
      </div>
    </div>
    <div class="section s2">
      <div class="grid-container">
        <div class="s2-title">
<!--           <h1>
            <span>your friends. your videos. one place.</span>
          </h1>
          <p>all your videos from across the the web easily shared to a meaningful community.</p> -->
        </div>
        <div class ="mainContent">
          <div class="main-middle-shit">
            <iframe width="420" height="315" src="//www.youtube.com/embed/zf-qoF7H844" frameborder="0" allowfullscreen></iframe>
          </div>
        <div class="imageSideFriends">
          <div class="navMenu expander">
            <form method="post" action="/search">
              <input type="text" name="search_for_user"/>
            </form>
          </div>
            <ul style="padding-left:70px; position:absolute; padding-top:70px; z-index:10000;">
              <% @friends.each do |friend|
                id = friend.invitee_id
                user = Moodeo.db.get_user(id) %>
                <li><%= user.username%></li><a href="/invitevideo/<%= user.username%>">Invite</a>
              <% end %>
            </ul>
          <img class"friends-side-bar" src="../img/friendsimage.png">
        </div>
      </div>
    </div>
    <div class="section s4">
      <div class="grid-container">
        <h1>
          <span>what are you waiting for?</span>
        </h1>
        <div class="s4-title">
         <p>start connecting through videos</p>
         <button class="btn s4-btn" type="button" data-popup="getstarted">Get Started</button>
        </div>
      </div>
    </div>
    <footer id="footer" class="section">
      <div class="grid-container">
        <div class="left">
<!--           <img src="img/footer-logo@2x.png" class"footer-logo" alt width="58" height="75"> -->
        </div>
        <div class="right">
          <div class="socialIcons">
            <a href="#" class="social instagram"></a>
            <a href="#" class="social soundcloud"></a>
            <a href="#" class="social tumblr"></a>
            <a href="#" class="social twitter"></a>
            <a href="#" class="social facebook"></a>
          </div>
          <p>moodeo © 2014 <span>/</span>
            policy <span>/</span>
            legal <span>/</span>
            <a href="mailto:hello@example.com">contact</a>
          </p>
        </div>
      </div>
    </footer>
    <div id="pageOverlay"></div>
    <div id="getStarted">
      <h2>almost ready!</h2>
      <p>have patience our doe eyed virgin, true love is worth waiting for. sign up here and we’ll let you know when the apple has fallen.</p>
      <form id="signatureForm" class="signup">
        <input type="email" name="email" placeholder="enter your email address...">
        <input type="submit" value="Sign Up">
      </form>
      <div class="submitted hidden">Thank you for signing up. Some cool shit is about to happen!</div>
    </div>


          <script src="http://code.jquery.com/jquery.js"></script>
          <script src="js/application.js"></script>

          <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
          <script type="text/javascript">
           var apiKey    = "44722822";
           var sessionId = "<%=@opentok_id %>";
           var token     = "<%=@token %>";

           var session = OT.initSession(apiKey, sessionId);

           session.on("streamCreated", function(event) {
             session.subscribe(event.stream);
           });

           session.connect(token, function(error) {
             var publisher = OT.initPublisher();
             session.publish(publisher);
           });
          </script>

  </body>
</html>
